//@import "./_section-style";

@font-face {
  font-family: "MicrEncoding";
  src: local("MicrEncoding-ZEDJ"),
    url("./fonts/MicrEncoding-ZEDJ.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  p {
    margin: 0;
  }
}

.sideController {
  position: fixed;
  left: 1em;
  bottom: 1em;
}

.controller {
  position: absolute;

  .controllerContent {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.check {
  background-size: 4em auto;
  overflow: hidden;
  display: flex;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  &.checkPrimary {
    background-image: url("./images/backgroundPrimary.png");
  }
  &.checkBlackWhite {
    background-image: url("./images/backgroundBlackWhite.png");
  }
  .checkBorder {
    width: inherit;
    .checkContent {
      display: flex;
      flex-direction: column;
      height: 100%;
      .textToBottom {
        display: flex;
        flex-direction: column-reverse;
      }
      .fontDancing {
        font-family: "Dancing Script", cursive;
      }
      .fontDelicious {
        font-family: "Delicious Handrawn", cursive;
      }
      .fontZeyada {
        font-family: "Zeyada", cursive;
      }
      .checkRow {
        height: 16.6%;
      }
      .checkDate {
        display: flex;
        flex-flow: row-reverse;
        .checkDateStyle {
          padding: 0 0.5em;
        }
      }
      .bottomRowContent {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        .bottomRow {
          font-family: "MicrEncoding";
          display: flex;
          p {
            flex-grow: 1;
          }
          .bottomRowFiller {
            flex-grow: 4;
          }
        }
      }
    }
  }
}
